{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Machado de Assis</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Merriweather|PT+Serif">
    <link rel="stylesheet" href="{% static 'bibliografia.css' %}">
</head>
<body>
    <h1> <mark class="destaque"> Principais Obras </mark> </h1> 
    <img src="{% static 'Mao_Luva_Principis.jpg' %}">    
    <h2> <mark class="destaque"> A Mão e a Luva </mark></h2>
    <p> A Mão e a Luva (1874) foi a primeira obra publicada em 
    folhetins no jornal <i> O Globo</i>. Nela, a história envolve 
    Guiomar, uma órfã adotada por uma mulher rica, que vive um 
    "Quadrado Amoroso" entre Jorge, Estevão e Luís Alves. O grande 
    suspense da obra envolve a escolha amorosa de Guiomar ante as 
    vontades de sua mãe adotiva, demonstrando ser uma protagonista 
    feminina nada convencional para os padrões literários da época. 
    </p>
    <img src="{% static 'Braz_Cubas.jpg' %}">
    <h2> <mark class="destaque"> Memórias Póstumas de Brás Cubas </mark></h2>
    <p> Memórias Póstumas de Brás Cubas (1880) foi originalmente
    publicado em folhetins na <i> Revista Brasileira </i>. Ela 
    introduziu o movimento literário conhecido como <i> Realismo </i> 
    ao Brasil, trazendo uma trama em primeira pessoa da vida de Brás 
    Cubas, um membro da elite carioca da época que está morto e, para 
    combater o tédio, escreve um livro que retrata com ironia os diversos 
    conflitos amorosos que viveu, servindo de lupa para o psicológico do 
    personagem.
    </p>
    <img src="{% static 'Dom_Casmurro.jpg' %}">
    <h2> <mark class="destaque"> Dom Casmurro </mark></h2>
    <p> Dom Casmurro (1899) foi publicado no formato de livro pela 
    <i> Livraria Garnier</i>. A última obra da Trilogia Realista (em 
    conjunto com <i> Memórias Póstumas de Brás Cubas </i> e <i> Quincas 
    Borba </i>) e também a mais famosa de Machado, conta da perspectiva
    Bento Santiago, o epônimo Dom Casmurro, que escreve um livro contando
    sua vida e relação amorosa com Capitu. Essa relação será o ponto 
    central de um dos maiores mistérios da literatura brasileira, que até 
    hoje fascina ambos leitores e estudiosos. 
    </p>
    
    <a href="/"> <button class="botao"> Página Principal </button> </a> 
    <a href="/sobre"> <button class="botao"> Sobre o Autor </button> </a>
        
</body>
</html>