{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Machado de Assis</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Merriweather|PT+Serif">
    <link rel="stylesheet" href="{% static 'sobre.css' %}">
</head>
<body>
    <h1> <mark class="destaque"> Sobre o Autor </mark> </h1> 
    <p> Joaquim Maria Machado de Assis é considerado por diversos críticos
        nacionais e internacionais como um dos melhores escritores 
        brasileiros de todos os tempos, além de ter sido considerado pelo 
        crítico literário norte-americano Harold Bloom como o melhor
        escritor negro de todos os tempos. Nascido no Morro do Livramento 
        (atual Ladeira do Livramento, no bairro Gamboa), na cidade do Rio 
        de Janeiro, em 1839, Machado vivenciou diversos eventos críticos 
        para a história do Brasil, desde a abolição da escravidão até a
        proclamação da Primeira República, refletidos na sua escrita, 
        principalmente em Esaú e Jacó (1904). 
        <img class="img1" src="{% static 'Casa_Machado_de_Assis.jpg' %}">    
    </p>
    <p class="imgdesc"> Foto da casa em que Machado de Assis viveu durante
    a vida adulta até a sua morte.
    </p>
    <p>
        Machado revolucionou a literatura brasileira com suas obras 
        inovadoras, abrangendo diversos gêneros e movimentos literários, 
        do romantismo ao realismo, repletas de críticas sociais da 
        sociedade brasileira, em particular à elite carioca e às relações 
        raciais decorrentes da escravidão, sempre com uma dose de ironia 
        tão icônica que recebeu a nomenclatura de "ironia machadiana". 
        Também foi um dos fundadores da Academia Brasileira de Letras, 
        ocupando a cadeira 23, que muitos anos depois seria ocupada pelo 
        grande escritor Jorge Amado. Faleceu em 29 de setembro de 1908, 
        deixando uma bibliografia rica que até hoje serve de inspiração 
        para outros escritores e, consequentemente, para toda a cultura 
        brasileira.
    </p>
    <img class="img2" src="{% static 'Tabuleiro_de_xadrez_que_pertenceu_a_Machado_de_Assis.png' %}">
    <p class="imgdesc"> Tabuleiro de xadrez que pertenceu a Machado de
    Assis.
    </p>
    <a href="/"> <button class="botao"> Página Principal </button> </a>
    <a href="/bibliografia"> <button class="botao"> Principais Obras </button> </a>
        
</body>
</html>